# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
fastapienv/

# ===============================
# Environment variables
# ===============================
.env
.env.*

# ===============================
# Database
# ===============================
*.sqlite3
*.db

# ===============================
# Logs
# ===============================
*.log
logs/

# ===============================
# RabbitMQ (local data if any)
# ===============================
rabbitmq-data/

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/
*.iml

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Test / Coverage
# ===============================
.pytest_cache/
.coverage
htmlcov/

# ===============================
# Build / Distribution
# ===============================
build/
dist/
*.egg-info/

# ===============================
# Misc
# ===============================
*.swp
